<div class="row">
  <div class="col-md-6 col-sm-12 col-12 left-calendar">
    <div class="row text-center calendar-nav">
      <div class="col-md-6 calendar-nav-item">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-6 calendar-nav-item">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="view = 'month'"
            [class.active]="view === 'month'">
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="view = 'week'"
            [class.active]="view === 'week'">
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="view = 'day'"
            [class.active]="view === 'day'">
            Day
          </div>
        </div>
      </div>
      <div class="col-md-12 calendar-nav-item">
        <div class="view-date-display">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>
      </div>
      
    </div>
    <!-- /.calendar-nav -->

    <br>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  <!-- /ng-switch -->
  </div>
  <!-- /.left-calendar -->
  <div class="col-md-6 col-sm-12 col-12 right-calendar">
    <h3>
      Edit events for {{viewDate | date:'longDate'}}
      <button
        class="btn btn-primary pull-right"
        (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>
    <br/>
    <!-- <app-edit-event
        *ngFor="let event of events; let index = index"
        [(event)]="events[index]"
        typeOptions="[1,2]"
        (change)="refresh.next()"></app-edit-event> -->
        

        <form class="event-editor"
             *ngFor="let event of events; let index = index"
             #editorForm="ngForm">
          <div class=row>
            <div class="col">
              <input type="text"
                     class="form-control"
                     [(ngModel)]="event.title"
                     name="eventTitle">
            </div>
            <div class="col">
              <select class="form-control mr-sm-2"
              [(ngModel)]="aNumber"
              name="aNumber"
              required>
        <option *ngFor="let type of eventTypes"
                [value]="type.eventTypeId">{{type.name}}</option>
      </select>
            </div>
          </div>
          <br/>

          <br/>
          <table class="date-time-table">
            <thead>
              <tr>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-date-picker
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    placeholder="Not set"
                    name="event-start">
                  </app-date-picker>
                </td>
                <td>
                  <app-date-picker
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    placeholder="Not set"
                    name="event-end">
                  </app-date-picker>
                </td>
              </tr>
            </tbody>
          </table>
      
          <div>
            <!-- <button
              class="btn btn-danger"
              (click)="events.splice(index, 1); refresh.next()">
              Delete
            </button> -->
          </div>
          <div>
            <button class="btn btn-outline-success" 
                    type="submit"
                    [disabled]="!editorForm.form.valid">Add</button>
          </div>
      </form>

    <!-- <table class="table table-bordered">
    
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let event of events; let index = index">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()">
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()">
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()">
          </td> 
          <td>
            <app-date-picker
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </app-date-picker>
          </td>
          <td>
            <app-date-picker
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set">
            </app-date-picker>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="events.splice(index, 1); refresh.next()">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    
    </table> -->
  </div>
  <!-- /.right-calendar -->
</div>
<!-- /.row -->