.user-row{
    position: relative;
    margin: 1em;
    width: 100%;
    overflow: hidden;
}
.title{
    font-size: 1.2em;
    font-weight: 700;
}
/* NEW USER */
.user-row form input{
    margin-bottom: 0.5em;
    width: 90%;
}
.add-user-tool{
    margin-bottom: 1em;
}

/* USER LIST */
.user{
    margin: 0 0 1em 0;
    /* border: 1px solid red; */
    width: 90%;
}
.remove-member-button{
    text-align: right;
    /* border: 1px solid blue;
    width: 100%; */
}
@media only screen and (max-width: 760px) {
    .remove-member-button{
        padding: 0;
        margin: 1em 0 1em 0;
        text-align: left;
    }
}